.position {
  display:inline-block;
  width: 30px;
  clear: both;
  margin: 10px 1% 10px 0;
  vertical-align: top;
  background: white;
  color: black;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.active {
  background: #0074D9;
}

.inactive {
  background: white;
}
