.sector {
  display:inline-block;
  width: 30px;
  clear: both;
  margin: 20px 1% 20px 0;
  vertical-align: top;
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.active {
  background: midnightblue;
}

.inactive {
  background: black;
}
