.payment {
  padding: 20px;
  background: black;
  color: white;
}

.formRow {
  padding: 5px;
}

.input {
  padding: 5px;
  color: black;
}

.button {
  width: 250px;
  height: 40px;
  margin-top: 10px;
  background-color: #111111;
  border: 2px solid #FFFFFF;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 17px;
  cursor: pointer !important;
  outline: none;
}

.button:hover{
  background-color:#333333;
}

.button:disabled {
  opacity: 0.4;
  background: #111111;
}

