@import "toolkit";

.footer {
  display: flex; // testing Autoprefixer
  font-size: inherit;
  margin-top: 20px;
  padding: 20px;
}

.footer_content {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #eee;
}
